<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Luxary hotels</title>
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="container">
    <div class="sidebar">
       <button class="nav-btn"></button>
    </div>

    <header class="header">
        <img src="../img/logo.png" alt="nexter logo" class="header__logo">
        <h3 class="heading-3">your own home</h3>
        <h1 class="heading-1">The ultimate personal freedom</h1>
        <button class="btn header__btn">View our properties</button>
        <div class="header__seenon-text">Seen on</div>
        <div class="header__seenon-logos">
            <img src="../img/logo.png" alt="nexter logo" >
        <img src="../img/logo.png" alt="nexter logo" >
            <img src="../img/logo.png" alt="nexter logo" >
            <img src="../img/logo.png" alt="nexter logo" >
        </div>
    </header>

    <div class="realtors">
        <h3 class="heading-3 mb-sm">Top 3 Realtors</h3>
        <div class="realtors__list">
            <img src="../img/person-1.jpg" alt="nothingfancy" class="realtors__img">
            <div class="realtors__details">
                <h4 class="heading-4 heading-4--light">Farik Enma</h4>
                <p class="realtors__sold">245 house sold</p>
            </div>

            <img src="../img/person-2.jpg" alt="nothingfancy" class="realtors__img">
            <div class="realtors__details">
                <h4 class="heading-4 heading-4--light">Arish Enma</h4>
                <p class="realtors__sold">190 house sold</p>
            </div>

            <img src="../img/person-3.jpg" alt="nothingfancy" class="realtors__img">
            <div class="realtors__details">
                <h4 class="heading-4 heading-4--light">Roky Enma</h4>
                <p class="realtors__sold">350 house sold</p>
            </div>

        </div>
    </div>

    <section class="features">
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../img/sprite.svg#icon-globe"></use>
                <h4 class="heading-4">World's best luxury homes</h4>
                <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate,
                    perferendis Lorem ipsum dolor sit amet. quod repellendus similique tempore.</p>
            </svg>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../img/sprite.svg#icon-key "></use>
                <h4 class="heading-4">Your home in one week</h4>
                <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate,
                    perferendis quod repellendus similique tempore.</p>
            </svg>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                <h4 class="heading-4">What do you want?</h4>
                <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate,
                    perferendis quod Lorem ipsum dolor sit.repellendus similique tempore.</p>
            </svg>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../img/sprite.svg#icon-lock "></use>
                <h4 class="heading-4">Do you have the lock?</h4>
                <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate,
                    perferendis quod repellendus Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum. similique tempore.</p>
            </svg>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../img/sprite.svg#icon-trophy "></use>
                <h4 class="heading-4">luxury homes eat monney</h4>
                <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate,
                    perferendis quod repellendus similique tempore.</p>
            </svg>
        </div>
        <div class="feature">
            <svg class="feature__icon">
                <use xlink:href="../img/sprite.svg#icon-tv "></use>
                <h4 class="heading-4">World's best luxury homes</h4>
                <p class="feature__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cupiditate,
                    perferendis quod repellendus similique tempore.</p>
            </svg>
        </div>
    </section>

    <div class="story__pictures mb-hg">
        <img src="../img/sunset.jpg" alt="story" class="story__img--1">
        <img src="../img/person-2.jpg" alt="story" class="story__img--2">
    </div>

    <div class="story__content mb-hg">
        <h3 class="heading-3 mb-sm">Happy custormer</h3>
        <h2 class="heading-2 heading-2--dark mb-md">&ldquo; The best decision of our lives &rdquo;</h2>

        <p class="story__text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis dolores maiores minus neque repellat repellendus
            unde? Possimus voluptatibus, voluptatum. Rerum!
        </p>
        <button class="btn">Find your own home</button>
    </div>

    <section class="homes">
        <div class="home">
            <img src="https://i.postimg.cc/yYk50R5M/pexels-emre-can-2079234-1.jpg" alt="nothing special" class="home__img">
            <svg class="home__like">
                <use xlink:href="../img/sprite.svg#icon-trophy"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-tv"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-globe"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-credit-card"></use>
                </svg>
                <p>$1,2000,23245</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>


        <div class="home">
            <img src="https://i.postimg.cc/yYk50R5M/pexels-emre-can-2079234-1.jpg" alt="nothing special" class="home__img">
            <svg class="home__like">
                <use xlink:href="../img/sprite.svg#icon-trophy"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-tv"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-globe"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-credit-card"></use>
                </svg>
                <p>$1,2000,23245</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>


        <div class="home">
            <img src="https://i.postimg.cc/yYk50R5M/pexels-emre-can-2079234-1.jpg" alt="nothing special" class="home__img">
            <svg class="home__like">
                <use xlink:href="../img/sprite.svg#icon-trophy"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-tv"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-globe"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-credit-card"></use>
                </svg>
                <p>$1,2000,23245</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="https://i.postimg.cc/yYk50R5M/pexels-emre-can-2079234-1.jpg" alt="nothing special" class="home__img">
            <svg class="home__like">
                <use xlink:href="../img/sprite.svg#icon-trophy"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-tv"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-globe"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-credit-card"></use>
                </svg>
                <p>$1,2000,23245</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>


        <div class="home">
            <img src="https://i.postimg.cc/yYk50R5M/pexels-emre-can-2079234-1.jpg" alt="nothing special" class="home__img">
            <svg class="home__like">
                <use xlink:href="../img/sprite.svg#icon-trophy"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-tv"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-globe"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-credit-card"></use>
                </svg>
                <p>$1,2000,23245</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

        <div class="home">
            <img src="https://i.postimg.cc/yYk50R5M/pexels-emre-can-2079234-1.jpg" alt="nothing special" class="home__img">
            <svg class="home__like">
                <use xlink:href="../img/sprite.svg#icon-trophy"></use>
            </svg>
            <h5 class="home__name">Beautiful Family House</h5>
            <div class="home__location">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-location-pin"></use>
                </svg>
                <p>USA</p>
            </div>
            <div class="home__rooms">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-tv"></use>
                </svg>
                <p>5 rooms</p>
            </div>
            <div class="home__area">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-globe"></use>
                </svg>
                <p>325 m<sup>2</sup></p>
            </div>
            <div class="home__price">
                <svg class="home__like">
                    <use xlink:href="../img/sprite.svg#icon-credit-card"></use>
                </svg>
                <p>$1,2000,23245</p>
            </div>
            <button class="btn home__btn">Contact realtor</button>
        </div>

    </section>

    <section class="gallery">
       <figure class="gallery__item gallery__item--1">
           <img src="../img/sp-1.jpg" alt="nothing special" class="gallery__img">
       </figure>
        <figure class="gallery__item gallery__item--2">
            <img src="../img/sp-2.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--3">
            <img src="../img/sp-3.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--4">
            <img src="../img/sp-4.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--5">
            <img src="../img/sp-5.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--6">
            <img src="../img/house-1.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--7">
            <img src="../img/house-2.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--8">
            <img src="../img/house-3.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--9">
            <img src="../img/house-4.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--10">
            <img src="../img/person-1.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--11">
            <img src="../img/person-2.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--12">
            <img src="../img/person-3.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--13">
            <img src="../img/person-4.jpg" alt="nothing special" class="gallery__img">
        </figure>
        <figure class="gallery__item gallery__item--14">
            <img src="../img/sp-1.jpg" alt="nothing special" class="gallery__img">
        </figure>

    </section>

    <footer class="footer">
           <ul  class="nav">
               <li class="nav__item"><a href="#" class="nav__link">Find your dream home</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Request proposal</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Download  home planner</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Contact us</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Submit your property</a></li>
               <li class="nav__item"><a href="#" class="nav__link">Come to house</a></li>
           </ul>
        <p class="copyright">
            &copy; Copyright uschas 2020 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet, temporibus.
        </p>
    </footer>
</body>
</html>